body {
	background-color: $color-offWhite;
}
.no-scroll {
	overflow: hidden;
}
h1, h2, h3, h4, h5, h6, p, li, a, *, small {
    font-family: 'Delicous', Helvetica, Arial, sans-serif;
	font-weight: 400;
	color: $color-darkBlue;
}

h1 {
	font-size: 30px;
	font-weight: 800;
}

p {
	font-size: 17px;
	line-height: 1.6em;
	margin-bottom: 1.3em;
	letter-spacing: .015em;
}

.text-center {
	text-align: center;
}

a {
	color: $color-blue;
	transition: color ease .25s;
	border-bottom: solid 1px $color-blue;
	text-decoration: none;
	&:hover {
		color: lighten($color-blue, 10);
		border-color: lighten($color-blue, 10);
		.fab {
			color: lighten($color-blue, 10);
		}
	}
	.fab {
		color: $color-blue;
		transition: color ease .25s;
		padding-right: 8px;
	}
}

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button.btn-standard {
	font-size: 22px;
	color: $color-offWhite;
	background-color: $color-blue;
	position: relative;
	transition: background-color .2s ease;
	.fas {
		color: $color-offWhite;
		margin-right: 20px;
	}
	&:hover {
		background-color: lighten($color-blue, 10);
	}
}

.first-line {
	font-size: 49px;
	display: block;
	line-height: 1.4em;
}

.second-line {
	font-size: 24px;
	display: block;
	line-height: 1.4em;
	margin-bottom: .4em;
}

strong {
	font-weight: 800;
}

.light {
	opacity: .7;
}

.fade {
	transition: opacity 2.5s ease;
	opacity: 0;
}

section {
	width: 100%;
	position: relative;
	z-index: 100;
	background-color: $color-offWhite;
	padding: 45px;
}

header {
	text-align: center;
	padding: 23px;
	max-width: 700px;
	border-bottom: solid 1px rgba($color-darkBlue, .37);
	border-top: solid 1px rgba($color-darkBlue, .37);
	margin: 0 auto 45px;
}

footer {
	position: relative;
	z-index: 100;
	background-color: $color-offWhite;
	width: 100%;
	font-size: 15px;
	text-align: center;
	padding: 20px;

}


nav.main-nav {
	position: fixed;
	z-index: 1000;
	right: 0;
	top: 0;
	text-align: right;
	ul {
		margin-top: 20px;
		li {
			margin-bottom: 8px;
			a {
				font-size: 20px;
				text-decoration: none;
				text-transform: uppercase;
				display: inline-block;
				height: 30px;
				line-height: 26px;
				padding: 2px 17px 2px 9px;
				box-sizing: border-box;
				background-color: $color-offWhite;
				transition: all .2s ease;
				color: $color-charcoal;
				border: none;
			}
			a:hover, &.active a {
				color: $color-offWhite;
				background-color: $color-charcoal;
			}
		}

	}
}


.flex-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	.flex-col {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.flex-row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

.tile {
	flex: 1;
	margin: 16px;
	display: flex;
	flex-direction: column-reverse;
	padding: 26px;
	position: relative;
	background-size: cover;
	overflow: hidden;
	* {
		color: $color-offWhite;
	}
	h2 {
		order: 4;
		font-size: 36px;
		font-weight: 600;
		margin-bottom: 9px;
		position: relative;
		left: -2px;
	}
	h3 {
		order: 3;
		font-size: 18px;
		margin-bottom: 10px;

	}
	ul {
		order: 2;

	}
	li {

	}
	a.btn {
		position: absolute;
		z-index: 200;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		text-align: center;
		display: flex;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		transition: opacity .5s ease;
		text-decoration: none;
		border: none;
		span {
			display: inline-block;
			background-color: rgba(#000, .5);
			padding: 20px;
			font-size: 24px;
			letter-spacing: .05em;
		}
	}
	img.logo {
		position: absolute;
		top: 12px;
		right: 12px;
	}
	video {
		opacity: 0;
		position: absolute;
		z-index: 100;
		right: 0;
		top: 0;
		min-width: 100%;
		min-height: 100%;
		transition: opacity .5s ease;
	}
	&:hover {
		video {
			opacity: 1;
		}
		a.btn {
			opacity: 1;
		}
	}
}

.project-parts {
	text-transform: uppercase;
	list-style: none;
	font-size: 13px;
	li {
		margin-bottom: 4px;
	}
	li:before {
	    font-family: "Font Awesome 5 Free";
		-webkit-font-smoothing: antialiased;
		display: inline-block;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		line-height: 1;
		font-weight: 900;
		font-size: 12px;
		margin-right: 8px;
	}
	li.branding:before {
		content: "\f445";
	}
	li.ux-design:before {
		content: "\f248";
	}
	li.visual-design:before {
		content: "\f1fc";
	}
	li.development:before {
		content: "\f121";
	}
	li.content:before {
		content: "\f036";
	}
	li.marketing:before {
		content: "\f135";
	}
}


@media (max-width: 470px) {
	.first-line {
		font-size: 35px;
		text-align: center;
	}
	.second-line {
		font-size: 18px;
	}
}

@media (max-width: 550px) {
	section {
		padding: 20px;
	}
}

@media (max-width: 900px) {
	.flex-wrapper {
		display: block;
		.flex-col {
			display: block;
		}
		.flex-row {
			display: block;
		}
	}
	.tile {
		margin: 0 0 16px 0;
		padding: 26px 18px;
		img.logo {
			top: auto;
			bottom: 12px;
			width: 50px;
		}
	}
}

@media (min-width: 971px) {
	section {
		padding-right: 140px;
	}
}

@media (max-width: 970px) {
	nav.main-nav {
		top: auto;
		bottom: 0;
		width: 100%;
		text-align: justify;
		text-justify: inter-word;
		ul {
			width: 100%;
			background-color: $color-charcoal;
			padding: 4px;
			display: flex;
		    justify-content: space-between;
			li {
				margin-bottom: 0;
				a {
					color: $color-offWhite;
					font-size: 17px;
					padding: 4px 5px;
					background-color: $color-charcoal;
					font-weight: 600;
				}
				a:hover, &.active a {
					color: $color-charcoal;
					background-color: $color-offWhite;
				}
			}
		}
	}
	footer {
		padding-bottom: 50px;
	}
}
